.error{
    text-align: center;
    margin: 2vh;
    background-color: #3F63AE;
}

p4{
    font-family: 'Gothic A1', sans-serif;
    font-size:3vh;
    font-weight: 600;
    color: #000;
}

p5{
    font-family: 'Gothic A1', sans-serif;
    font-size:2vh;
    font-weight: 600;
    color: #000;
}

.add-body{
    margin-top: 2vh;
    width: 100%;
    text-align: left;
}

.add-class{
    margin-bottom: 1vh;
    display: inline-flex;
}

.add-form{
    width: 100%;
}

.add-form-detail select{
    width:40vh;
    height: 4vh;
    margin: 1vh;
    font-size: 2vh;
    display: block;
    text-align: left;
}

.add-form-detail label{
    width: 25vh;
    text-align: right;
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: bold;
    padding-top: 1.8vh;
    font-size: 2vh;
}

.add-form-detail{
    display: inline-flex;
    padding: 2vh;
}


.box{
    width:40vh;
    height: 4vh;
    margin: 1vh;
    font-weight: bold;
    display: block;
    text-align: left;
}
.box1{
    width:2vh;
    height: 2vh;
    font-weight: bold;
    display: block;
}

.box2{
    width:40vh;
    height: 4vh;
    margin: 1vh;
    margin-left: 0vh;
    display: block;
    text-align: left;
}

.box3{
    width:40vh;
    height: 40vh;
    margin: 1vh;
    margin-left: 0vh;
    display: block;
    text-align: left;
    word-break:keep-all;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}


.add_btn{
    text-align: center;
}

.btn_add{
    width:22vh;
    display:inline-flex;
    height:5vh;
    color:#FFFFFF;
    font-size:2.5vh;
    font-weight:500;
    letter-spacing:6px;
    background:#3F63AE;
    align-items: center;
    justify-content: center;
}

.project_state{
    display: inline-flex;
    
}