@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
html, body{
    --main-bg-color: #EAEAEA;
    margin:0px;
    height:100%;
    width:100%;
    font-family: 'Gothic A1', sans-serif;

}

.header-container, .body-container, nav-container{
    width: 100%;
}

.header-contaniner{
    background: var(--main-bg-color);
}

.body-container{
}

.nav-contaniner{
    
}

.header, .body, .nav{
    width: 177.77vh;
    height: 100%;
    margin: 0 auto;
}

.header{
    font-size:2vh;
    font-weight:600;
}

.header ul{
    list-style: none;
    color: white;
    float: left;
}