<html>
<head>
</head>
<body>
<div class="header-container">
            <div class="header" >
                <div class="header-nav-inner">
                    <div class="header-nav-inner-brand">
                        <a class="header-nav-inner-logo" href="/">BoltNut</a>
                    </div>
                    <ul class="header-nav-inner-menu">
                        <li>
                            <a href="">프로젝트 등록</a>
                        </li>
                        
                        <li>
                            <a href="">프로젝트 찾기</a>
                        </li>
                        
                        <li>
                            <a href="">전문가 목록</a>
                        </li>
                        
                        <li>
                            <a href="">이용 방법</a>
                        </li>
                    </ul>
                    
                    <ul class="header-nav-inner-sign">
                        <li>
                            <a class="signin-btn" href="">로그인</a>
                        </li>
            
                        <li>
                            <a class="signup-btn" href="">회원가입</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- http://webdir.tistory.com/310 -->
        {% extends "layout/nav.html" %} <!-- include nav(second menu) -->       
</body>
</html>